<h1>Fire Emblem Team Builder</h1>
<p>Select your game:</p>

<% @games.each do |game| %>
  <tr>
    <td><%= game.full_name %>: <%= game.difficulty %></td>
    <td><%= link_to 'Show', teams_show_path(game) %></td>
  </tr>
<% end %>
