<h1>Fire Emblem Team Builder</h1>
<p>Build your team below:</p>

<table class="unpicked">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody></tbody>
</table>


<table class="team">
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody></tbody>
</table>
