<h1>Fire Emblem Team Builder</h1>
<p>Build your team below:</p>

<div id="teams" data-characters='<%= @characters.to_json %>' data-game='<%= @game.to_json %>'></div>
<%= javascript_pack_tag 'teams' %>

<%= link_to 'Back', root_path %>
