<p>
  <strong>Partner:</strong>
  <%= support.partner.name %>
  <%= link_to 'Destroy', character_support_path(@character, support),
      method: :delete,
      data: { confirm: 'Are you sure?' } %>
</p>
