// Place all the styles related to the Teams controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.team, .unpicked {
  display: inline-block;
  width: 100px;
  border: 2px solid black;
  user-select: none;

  &-heading {
    font-weight: bold;
  }
}

.unpicked {
  background: linear-gradient(chartreuse, red);
}

.problems {
  background: yellow;
}
